{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot - Skin Cancer Detection</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/plot.css' %}">
</head>

<body>
    <header>
        <a class="logo">Skin Cancer Detection</a>
        <ul>
             <li><a href="{% url 'home' %}" class="active1">Home</a></li>
                <li><a href="{% url 'plot' %}" class="active4">Plot</a></li>
                <li><a href="{% url 'about' %}" class="active2">About</a></li>
                <li><a href="{% url 'members' %}" class="active3">Members</a></li>
        </ul>
    </header>
    <div class="container">
        <div class="section">
            <div class="content">
                <h2>Model 1</h2>
                <div class="con1">
                    <h3>ROC Plot</h3>
                    <img id = "img1" src="{% static 'main_app/images/ROC Model1.jpeg' %}" style="width: 450px; height: 350px;">
                </div>
                <div class="con2">
                    <h3>Classification Report</h3>
                    <img id = "img2" src="{% static 'main_app/images/classification Model1.jpeg' %}" style="width: 400px; height: 175px; margin-top: 70px;">
                </div>
                <div class="con3">
                    <h3>Confusion Matrix</h3>
                <img id = "img3" src="{% static 'main_app/images/confusion matrix model1.jpeg' %}" style="width: 250px; height: 100px; margin-top: 90px;">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="con1">
                    <h3>ROC Plot</h3>
                    <img id = "img1" src="{% static 'main_app/images/ROC Model2.jpeg' %}" style="width: 450px; height: 350px;">
                </div>
                <div class="con2">
                    <h3>Classification Report</h3>
                    <img id = "img2" src="{% static 'main_app/images/classification Model2.jpeg' %}" style="width: 400px; height: 175px; margin-top: 70px;">
                </div>
                <div class="con3">
                    <h3>Confusion Matrix</h3>
                <img id = "img3" src="{% static 'main_app/images/confusion matrix model2.jpeg' %}" style="width: 250px; height: 100px; margin-top: 90px;">
                </div>
                <h2>Model 2</h2>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <h2>Model 3</h2>
                <div class="con1">
                    <h3>ROC Plot</h3>
                    <img id = "img1" src="{% static 'main_app/images/ROC Model3.jpeg' %}" style="width: 450px; height: 350px;">
                </div>
                <div class="con2">
                    <h3>Classification Report</h3>
                    <img id = "img2" src="{% static 'main_app/images/classification Model3.jpeg' %}" style="width: 400px; height: 175px; margin-top: 70px;">
                </div>
                <div class="con3">
                    <h3>Confusion Matrix</h3>
                <img id = "img3" src="{% static 'main_app/images/confusion matrix model3.jpeg' %}" style="width: 250px; height: 100px; margin-top: 90px;">
                </div>
            </div>
        </div>
    </div>
</body>

</html>